/* 
    PC: 1024 - ...
    Tablet: 740 - 1023
    Mobile: 0 - 740
*/

/* PC */
@media (min-width: 1024px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    #nav > li {
        display: block;
    }

    #header {        
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }


}